__pycache__
checkpoints
austrian_crop/logs
austrian_crop/data
austrian_crop/configs
austrian_crop/src/utils.DS_Store
austrian_crop/src/utils/change_detection_cambridge.py
austrian_crop/src/utils/check_mit_occupancy_tiles.py
austrian_crop/src/utils/clip_austriancrop_representation_map.py
austrian_crop/src/utils/convert_efm_to_np.py
austrian_crop/src/utils/convert_in8repr_to_f32tiff.py
austrian_crop/src/utils/convert_repr2tiff.py
austrian_crop/src/utils/convert_shp_to_tiff.py
austrian_crop/src/utils/convert_tiff_to_npy.py
austrian_crop/src/utils/copy_any_tiles_to_storage.py
austrian_crop/src/utils/copy_senegal_tiles_to_storage.py
austrian_crop/src/utils/copy_uk_tiles_to_storage.py
austrian_crop/src/utils/count_doy_in_a_year.py
austrian_crop/src/utils/create_annual_change_gif_london.py
austrian_crop/src/utils/create_annual_repr_gif_london.py
austrian_crop/src/utils/create_tessera_repr_gee_imagecollection.ipynb
austrian_crop/src/utils/downsample_npy.py
austrian_crop/src/utils/downsample_tiff.py
austrian_crop/src/utils/fetch_representations_from_geojson.py
austrian_crop/src/utils/fetch_representations_from_shp.py
austrian_crop/src/utils/fetch_representations_from_tiff.py
austrian_crop/src/utils/fetch_representations_from_txt.py
austrian_crop/src/utils/find_mit_occupancy_tiles.py
austrian_crop/src/utils/generate_gif.py
austrian_crop/src/utils/generate_global_x_degree_grid.py
austrian_crop/src/utils/generate_pastis_patch_d-pixel.py
austrian_crop/src/utils/get_ethiopia_coord.py
austrian_crop/src/utils/harmonize_embeddings.py
austrian_crop/src/utils/lr_scheduler.py
austrian_crop/src/utils/merge_efm_tiles.py
austrian_crop/src/utils/merge_representation_from_grid_pca.py
austrian_crop/src/utils/merge_representation_from_grid_tmp.py
austrian_crop/src/utils/merge_representation_from_grid.py
austrian_crop/src/utils/metrics.py
austrian_crop/src/utils/misc.py
austrian_crop/src/utils/mpc_pipeline_fsdp_20250604_100313_umap_no_pca_nvidia_info.txt
austrian_crop/src/utils/mpc_pipeline_fsdp_20250604_100313_umap_no_pca_nvidia.png
austrian_crop/src/utils/mpc_pipeline_fsdp_20250604_100313_umap_nvidia_info.txt
austrian_crop/src/utils/mpc_pipeline_fsdp_20250604_100313_umap_nvidia.png
austrian_crop/src/utils/patchify_austrian_crop.py
austrian_crop/src/utils/read_tiff.py
austrian_crop/src/utils/training-data-preprocessing
austrian_crop/src/utils/tsne_by_label_efm_whole_dataset.png
austrian_crop/src/utils/tsne_by_label_efm.png
austrian_crop/src/utils/tsne_by_label_optimized_sampling_info.txt
austrian_crop/src/utils/tsne_by_label_tessera_whole_dataset.png
austrian_crop/src/utils/tsne_by_label_whole_year.png
austrian_crop/src/utils/tsne_visualization_austrian_crop.py
austrian_crop/src/utils/umap_by_label_nature_efm.png
austrian_crop/src/utils/umap_by_label_nature.pdf
austrian_crop/src/utils/umap_by_label_nature.png
austrian_crop/src/utils/umap_by_label_tessera.png
austrian_crop/src/utils/umap_visualization_austrian_crop.py
austrian_crop/src/utils/visualize_global_mgrs_tile_coverage.py
austrian_crop/src/utils/visualize_hexbin_map.py
austrian_crop/src/utils/visualize_s1_and_s2.py
austrian_crop/src/utils/visualize_tiff_whole_year.py
austrian_crop/src/utils/visualize_uk_representation.py
tree_species_prediction/
canopy_height/data/training_data_efm_embedding
canopy_height/data/training_data_presto_embedding
canopy_height/data/training_data_tessera_embedding
